body {
	background: #32292F;
	font-family: Helvetica;
	background-repeat: no-repeat;	
	margin: 0;
	font-family: Georgia;
}

/* NAV BAR */
ul.taskbar {
    list-style-type: none;
    margin-top: 3px;
    margin-left: 15px;
    margin-right: 20px;
    padding: 10px;
    width: 16%;
    background-color: #A8B9EF;
    clear:both;
   	float:left;
   	text-align: left;
   	font-family: Georgia;
   
}

li a {
    display: block;
    color: #FFFFFF;
    padding: 15px 15px;
    text-decoration: none;
    background-color: #32292F;
    font-family: Georgia;
}

li a.active {
    background-color: #970B0F;
    color: #FFFFFF;
}

li a:hover:not(.active) {
    background-color: #32292F;
    color: #FFFFFF;
}

/*CONTACT BAR*SKI */ 


#contactwrapper {
		   color: #A8B9EF;
		   height: 585px;
		   background-color: #32292F; 
		   min-width: 10px;
		   max-width: 220px;
		   box-shadow: 3px 3px 3px #0A100D;
		   border-style: solid;
  		   border-width: 3px;
  		   border-color: #0A100D;
  		   max-height: 730px;
  		   margin-top: 5px; 
  		   margin-right: 15px;
  		   float: right;
  		   padding-left: 5px;
  		   padding-right: 5px;
  		   padding-top: 10px;  
  		   font-family: Georgia;
  		  
  		 }



/* HEADERS */
#headerwrapper { width: 655px;
		   height: 500px;
		   margin-top: 5px;
		   margin-bottom: 5px;
		   background-color: #575366; 
		   box-shadow: 3px 3px 3px #333333;
		   border-style: solid;
  		   border-width: 4px;
  		   border-color: #970B0F; 
  		   text-align: center;
  		   margin-left: 248px;
  		   margin-right 25px;
  		   padding: 8px 8px 8px 8px;

  		 }
  		 
 img.news {
 	 	border-style: solid;
  		border-width: 3px;
  		border-color: #A8B9EF; 
		height: 200px;
		width: 320px;
		float: left;
		padding: 1px 1px 1px 1px;
		margin-top: 0px;
		margin-bottom: 10px;
		margin-left: 2px;
  		margin-right: 10px;
    }
/*------HEADERS----------*/ 		 
h1 {
	padding: 8px 8px 8px 8px;
	width: 50%;
	margin-top: 5px;
	margin-left: 240px;
	text-align: left;
	font-family: Georgia;
    font-size: 20px; 
    color: white;
    font-style: italic;
   
     }
    
h2 {
   	
	text-align: left;
	font-family: Georgia;
    font-size: 14px; 
    color: white;
     
    }




#wrapper { width: 1210px;
		   height: 725px;
		   margin-top: 30px;
		   margin-bottom: 10px;
           margin-left: auto;
		   margin-right: auto;
		   background-color: #575366; 
		   min-width: 960px;
		   max-width: 2048px;
		   box-shadow: 3px 3px 3px #333333;
		   border-style: solid;
  		   border-width: 5px;
  		   border-color: #0A100D;
		}

/* FOOTER */
footer{
		   width: 1000px;
		   height: 120px;
		   margin-top: 5px;
           margin-left: auto;
		   margin-right: auto;
		   margin-bottom: 10px;
		   background-color: #A8B9EF; 
		   border-style: groove;
  		   border-width: 10px;
  		   border-color: #0A100D;
  		   text-align: center;
}

ul.footer {
	list-style-type: none;
    margin-left: 10px;
    padding-left: 15px;
    width: 15%;
    float:left; 
    
}
li.footertitle {
    color: #FFFFFF;
    padding: 3px; 1px;
    text-decoration: underline;
    font-size: 13px;
}

li.footer {
    color: #FFFFFF;
    padding: 3px; 3px;
    text-decoration: none;
    font-size: 11px;
}

ul.copywrite {
	list-style-type: none;
    margin-left: 400px;
    padding-left: 15px;
    width: 15%;
    text-align: center;
  }


#footwrapper { 
		   margin-top: 8px;
  		   border-color: #B4B8AB;
  		   max-height: 730px;
  		   float: right;
  		   padding-left: 5px;
  		   padding-right: 5px;
  		   margin-right: 15px;
  		  
  		 }

ul.addy {
	list-style-type: none;
    padding-left: 15px;
    width: 100%;
   	margin-top: 1px;
   	text-align: center;
}
li.copywrite {
    color: #FFFFFF;
    padding: 1px; 1px;
    text-decoration: underline;
    font-size: 12px;
 }

li.fire {
   color: #970B0F;
    padding: 3px; 3px;
    text-decoration: underline;
    font-size: 15px;
 }

li.copywritea {
    color: #FFFFFF;
    padding: 3px; 3px;
    text-decoration: none;
    font-size: 11px;
}
li.copywriteb {
    color: #FFFFFF;
    padding: 4px; 4px;
    text-decoration: none;
    font-size: 15px;
}